@model List<Reservation>
@{
    ViewData["Title"] = "ReservationList";
    Layout = "_LayoutAdmin";
    int count = 1;
}

<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <div class="card mb-4">
                <div class="card-header pb-0">
                    <h6>Rezervasyon Listesi</h6>
                    <hr>
                </div>
                <div class="card-body pt-0 pb-2">
                    <div class="table-responsive p-0">
                        @if (Model.Any())
                        {
                            <table class="table align-items-center mb-0">
                                <thead>
                                    <tr>
                                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Sıra No</th>
                                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Şehir</th>
                                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Fiyat</th>
                                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Kişi</th>
                                        <th colspan="1"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@count</td>
                                            <td>@item.Destination.DestinationCity</td>
                                            <td>@item.Destination.DestinationPrice $</td>
                                            <td>@item.ReservationPersonCount</td>
                                            <td><a asp-area="Admin" asp-controller="Reservation" asp-action="ReservationUpdate" asp-route-id="@item.ReservationId" class="btn btn-outline-warning">DETAY</a></td>
                                        </tr>
                                        count++;
                                    }
                                </tbody>
                            </table>
                        } else
                        {
                            <div class="alert alert-warning" role="alert">Henüz bir öge mevcut değil</div>
                            <hr>
                        }
                        <a asp-area="Admin" asp-controller="User" asp-action="UserList" class="btn btn-outline-dark mt-4">Geri</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>