@model UserUpdateModel
@{
    ViewData["Title"] = "UserUpdate";
    Layout = "_LayoutAdmin";
}

<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <div class="card mb-4">
                <div class="card-header pb-0">
                    <h6>Kullanıcı Oluştur</h6>
                    <hr>
                </div>
                <div class="card-body pt-0 p-4">
                    <form asp-area="Admin" asp-controller="User" asp-action="UserUpdate" method="post">
                        <input type="hidden" asp-for="Id">
                        <div class="form-group">
                            <span class="validation-text" asp-validation-for="Name"></span>
                            <label for="Name">Ad *</label>
                            <input type="text" asp-for="Name" id="Name" class="form-control">
                        </div>
                        <div class="form-group">
                            <span class="validation-text" asp-validation-for="Surname"></span>
                            <label for="Surname">Soyad *</label>
                            <input type="text" asp-for="Surname" id="Surname" class="form-control">
                        </div>
                        <div class="form-group">
                            <span class="validation-text" asp-validation-for="PhoneNumber"></span>
                            <label for="PhoneNumber">Telefon Numarası *</label>
                            <input type="text" asp-for="PhoneNumber" id="PhoneNumber" class="form-control">
                        </div>
                        <div class="form-group">
                            <span class="validation-text" asp-validation-for="City"></span>
                            <label for="City">Şehir *</label>
                            <input type="text" asp-for="City" id="City" class="form-control">
                        </div>
                        <div class="form-group">
                            <span class="validation-text" asp-validation-for="Email"></span>
                            <label for="Email">Email *</label>
                            <input type="text" asp-for="Email" id="Email" class="form-control">
                        </div>
                        <div class="form-group">
                            <span class="validation-text" asp-validation-for="UserName"></span>
                            <label for="UserName">Kullanıcı Adı * (Değişimi durumunda tekrar giriş gerekir)</label>
                            <input type="text" asp-for="UserName" id="UserName" class="form-control">
                        </div>
                        <div class="form-group ">
                            <label>Rol Seçiniz</label>
                            @foreach (var rolName in Model.TumRoller)
                            {
                                <div class="form-check mt-3">
                                    <input type="checkbox" class="form-check-input" id="@rolName" name="SeciliRoller" value="@rolName" @(Model.SeciliRoller.Any(i => i == rolName) ? "checked" : "")>
                                    <label for="@rolName" class="form-check-label">@rolName</label>
                                </div>
                            }
                        </div>
                        <button type="submit" class="btn btn-outline-primary mt-4">Kaydet</button>
                        <a asp-area="Admin" asp-controller="User" asp-action="UserList" class="btn btn-outline-dark mx-2 mt-4">Geri</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>